<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/login_register.css">
<div class="form-row justify-content-center py-3">
    <a class="btn btn-success btn-lg" href="/workouts/new" >Add New Workout</a>
</div>
<div class="form-row">
<% workouts.forEach(function(workout){ %> 
  <div class="col">
      <div class="card text-center">
              <div class="card-header">
                  <h4> <%= workout.type %> </h4> 
              </div>
              <div class="card-body py-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Time: <%= workout.time %> </li>
                    <li class="list-group-item">Weight: <%= workout.weight %> </li>
                    <li class="list-group-item">Repetions: <%= workout.repetions %> </li>
                  </ul>
                  <a class="btn btn-primary my-2 btn-lg" href="/workouts/<%= workout._id %>">Show</a>
              </div>
              <!-- <img class="card-img-top" src="login.jpg" alt="Card image cap"> -->
              <div class="card-footer text-muted">
                  <%= workout.date %> 
              </div>
      </div>
  </div>
<% }) %> 

</div>

<% include partials/footer %>
